<!DOCTYPE html>
<html>
    <head>
        <title>{{ page.title }}</title>
        <!-- link to main stylesheet -->
        <link rel="stylesheet" type="text/css" href="/css/main.css">
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/projects">Projects</a></li>
                <li><a href="/blog">Blog</a></li>
                <li><a href="/docs">Docs</a></li>
                <li><a href="/cv">CV</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/social">Social</a></li>
            </ul>
        </nav>
        <div class="container">

            {{ content }}

        </div><!-- /.container -->
        <footer>
            <ul>
                <!-- <li><a href="mailto:example@gmail.com">email</a></li>  MAY ADD AN EMAIL IN FUTURE-->
                <li><a href="https://github.com/thevirtuoso1973">https://github.com/thevirtuoso1973</a></li>
            </ul>
            <script type='text/javascript' src='https://ko-fi.com/widgets/widget_2.js'></script><script type='text/javascript'>kofiwidget2.init('Buy me a coffee here', '#46b798', 'T6T2105I3');kofiwidget2.draw();</script>
        </footer>
    </body>
</html>
